@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}
@* filtros *@
<form method="post">
    <div class="input-group mb-3">
        <select asp-for="MunicipioSelected" asp-items="@Model.MunicipioOptions" name="idMunicipio" class="form-control">
            <option value="-1">Ver todos</option>
        </select>
        <button class="btn btn-outline-secondary" asp-page-handler="Filtro">
            Filtrar
        </button>
    </div>
</form>
@* busquedas *@
<form method="post">
    <div class="input-group mb-3">
        <input asp-for="@Model.BusquedaActual" name="nombre" class="form-control">
        <button class="btn btn-outline-secondary" asp-page-handler="Buscar">
            Buscar
        </button>
    </div>
</form>
<h1>Listado de equipos</h1>
<a class="btn btn-primary btn-lg" asp-page="./Create">Crear equipo</a>
<table class="table" border="2">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Municipio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos)
        {
            <tr>
                <th scope="row">@equipo.Id</th>
                <td>@equipo.Nombre</td>
                <td>@equipo.Municipio.Nombre</td>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@equipo.Id">
                        Detalle
                    </a>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@equipo.Id">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>